<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>update location</title>
</head>
<body>

<form action="updateLocation" method="post">
    <pre style="text-align: center; margin: 50px;">
    Id: <input type="text" name="id" th:value="${location.id}" readonly/>
    Code: <input type="text" name="code" th:value="${location.code}"/>
    Name: <input type="text" name="name" th:value="${location.name}"/>
    Type: Urban <input type="radio" name="type" value="URBAN" th:field="*{location.type}"/>
    Rural <input type="radio" name="type" value="RURAL" th:field="*{location.type}"/>
        <input type="submit" value="save"/>
    </pre>
</form>
</body>
</html>